################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/slnx.sqlite
/backend/CVServices/CVServices/bin/Debug/net8.0
/backend/CVServices/.vs
/backend/CVServices/CVServices/obj/Debug/net8.0/ref
/backend/CVServices/CVServices/obj/Debug/net8.0/refint
/backend/CVServices/CVServices/obj/Debug/net8.0/staticwebassets
/backend/CVServices/CVServices/obj/Debug/net8.0/apphost.exe
/backend/CVServices/CVServices/obj/Debug/net8.0/CVServices.AssemblyInfo.cs
/backend/CVServices/CVServices/obj/Debug/net8.0/CVServices.AssemblyInfoInputs.cache
/backend/CVServices/CVServices/obj/Debug/net8.0/CVServices.csproj.BuildWithSkipAnalyzers
/backend/CVServices/CVServices/obj/Debug/net8.0/CVServices.csproj.CoreCompileInputs.cache
/backend/CVServices/CVServices/obj/Debug/net8.0/CVServices.csproj.FileListAbsolute.txt
/backend/CVServices/CVServices/obj/Debug/net8.0/CVServices.csproj.Up2Date
/backend/CVServices/CVServices/obj/Debug/net8.0/CVServices.dll
/backend/CVServices/CVServices/obj/Debug/net8.0/CVServices.genruntimeconfig.cache
/backend/CVServices/CVServices/obj/Debug/net8.0/CVServices.MvcApplicationPartsAssemblyInfo.cache
/backend/CVServices/CVServices/obj/Debug/net8.0/CVServices.MvcApplicationPartsAssemblyInfo.cs
/backend/CVServices/CVServices/obj/Debug/net8.0/CVServices.pdb
/backend/CVServices/CVServices/obj/Debug/net8.0/CVServices.sourcelink.json
/backend/CVServices/CVServices/obj/Debug/net8.0/staticwebassets.build.json
/backend/CVServices/CVServices/obj/Container/ContainerDevelopmentMode.cache
