################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/slnx.sqlite
/backend/CVServices/CVServices/bin/Debug/net8.0
/backend/CVServices/.vs
